#backOfficeNavBar{
    grid-row: 1/2;
    display: flex;
    justify-content: space-evenly;
    background-color: #111;
    height: 100%;
    
    .backOfficeNavBtn{
        background-color: transparent;
        border: none;
        color: #FFF;
        margin: 10px;
        width: 30%;
        flex: 1;
    }
    .backOfficeNavBtn:not(:last-child){
        border-right: 2px solid #FFF;
    }
}