#mainFooter {
    grid-row : 3/4;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(
        to bottom,
        #00000000 0%,
        #353fab9C 20%,
        #353fabFF  60%
    );
    padding-top: 1em;
    
    #socialsMedia{
        ul {
            display: flex;
            gap: 15px;
        }
        
    }
}
@media screen AND (min-width: 1199px) {
    #mainFooter {
        align-items: center;

        ul{
            margin: 0;
        }
    }
}