#eventPageMain{
    display: grid;
    grid-template-rows: 0.9fr 1fr;
}
.reservationModalContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000008a; 
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reservationModal{
    display: flex;
    flex-flow: column nowrap;
    background-color: #000000cf; 
    width: 80%; 
    max-width: 90vw;
    padding: 20px;
    border-radius: 5px;
    z-index: 6;
    overflow: scroll;
}
.movieDescription {
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    
    .movieCover{
        position: absolute;
        top:0;
        left:0;
        z-index: -100;
        min-height: 40%;
        max-height: 70%;
        mask-image: linear-gradient(to top, transparent 0, black 30%);
        object-position: top;
    }
    #movie_info{
        padding-top: 20%;
        width: 100%;
        background: #0a0a0a9F;
        
    }
    #movieDetail{
        display: flex;
        padding: 0 20px;
        .moviePoster{
            display: none;
        }
        
    }
    #synopsis{
        width: 85%;
        margin: 5px 0;
    }
    .showSynopsisButton {
        background-color: transparent;
        border : #FFF solid 1px;
        outline: none;
        color: #FFF;
        border-radius: 8px;
        padding: 0.5em 1em;
        
        &:hover{
            border: #99AAFF solid 3px;
        }
    }
    .movieFeatureHeader{
        font-size: 0.8em;
        font-weight: bold;
    }
    .movieFeature{
        font-size: 0.8em;
        font-style: italic;
    }
    .movieSessionContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 2em;
        
        .movieSessionInfo{
            width: 24%;
            max-width: 100px;
            display: flex;
            flex-flow: column nowrap;
            justify-content : center;
        }
        .movieSessionInfo:not(:last-child) {
            margin-right: 20px;
        }
        .movieSessionBtn{
            margin-bottom: 10px;
            background: transparent;
            border: #FFF solid 2px;
            border-radius: 8px;
            color: white;
            width: 100%;
            transform: scale(1);
            transition : transform 0.5s ease-out;
        }
        .movieSessionBtn:hover{
            background-color: #6e6e6e;
            transform: scale(1.1);
        }
        .movieSessionBtn.selected{
            background-color: #444;
            border: 2px solid #2070EE;
        }
        .multi-line-Button{
        background: transparent;
        color: white;
        border: none;
        resize: none;
        text-align: center;
        width: 100%;
        cursor: pointer;
        }
        .multi-line-Button:focus{
            outline: none;
        }
        .sessionTimeContainer{
            display: flex;
            justify-content: center;
        }
        .sessionTime:not(:last-child){
            margin-right: 10px;
        }
    }
    .eventSessionContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .movieSessionText{
        text-align: center;
        margin: auto;
        border: #FFF solid 2px;
        border-radius: 8px;
        color: white;
        width: 50%;
        padding: 10px;
        }
        
    }
}
.inEventPage{
    grid-row: 2/3;
    align-self: end;
}

@media screen AND (min-width: 1199px) {
    .movieDescription{ 
        #movie_info {
            display: flex;
            flex-direction: column;
            padding: 15px 0;
            width: 100%;
            padding-top: 10%;
            
            .moviePoster{
                display: block;
                width: 20%;
                height: auto;
            }
            ul{
                margin-left: 10px;
            }
            li {
                margin-bottom: 1.2em;
            }
            .movieFeatureHeader{
                font-size: 1em
            }
            .movieFeature{
                font-size: 1em;
            }
            #synopsis{
                width: 70%;
            }
            .showSynopsisButton {
                width: 150px;
            }
        }
        
    }
    
}