.movieCover{
        position: absolute;
        top:0;
        left:0;
        z-index: -100;
        min-height: 40%;
        width: 100%;
        max-height: 70%;
        mask-image: linear-gradient(to top, transparent 0, black 30%);
        object-position: top;
    }



        
.closeTrailerBtn{
    align-self: flex-end;
    font-family: Allura;
    font-size: 4em;
    line-height: 0.8em;
    margin-right: 10px;
    border: none;
    background-color: transparent;
    color: #fff;
    padding: 0 5px;
}
#trailerLecter{
    max-width: 780px;
}
    
.reservationModal{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #000000cf; 
    width: 80%; 
    max-width: 90vw;
    padding: 20px;
    border-radius: 5px;
    z-index: 6;
    overflow: scroll;
}
#movieDescription {
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #0a0a0a9F;
    
    #movie_info{
        display: flex;
        flex-direction: column;
        padding-top: 7%;
        width: 90%;
        margin-left: 15px;
    }
    
    #moviePage_title{
        margin-top: 0;
    }
    #trailerButton {
        background: #000000;
        border: white solid 2px;
        border-radius: 8px;
        opacity: 0.5;
        margin-top: 5%;
        padding: 30px;
        align-self: center;
        transition: transform 1s ease-out, opacity 2s ease-in;
    }
    #trailerButton:hover {
        transform: scale(1.2);
        opacity: 1;
    }
    

    #movieDetail {
        display: flex;
        padding: 0 20px;
        
        .moviePoster{
            display: none;
        }
        
        li{
            line-height: 1.4em;
        }
        
    }
    #synopsis{
        width: 100%;
        margin: 5px 0;
        line-height: 1em;
        margin-top: 2em;
    }
    .showSynopsisButton {
        background-color: transparent;
        border : #FFF solid 1px;
        outline: none;
        color: #FFF;
        border-radius: 8px;
        padding: 0.5em 1em;
        
        &:hover{
            border: #99AAFF solid 3px;
        }
    }
    .movieFeatureHeader{
        font-size: 0.8em;
        font-weight: bold;
    }
    .movieMainFeature{
        font-weight: bold;
        margin-bottom: 10px;
        color: #bbddff;
    }
    .movieMainFeatureDivider{
        margin: 0 .5em;
        font-size: 2em;
    }
    .movieFeature{
        font-size: 0.8em;
        font-style: italic;
    }
    .sessionTitle{
        text-align: center;
    }
    .movieSessionContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 2em;
        
        .movieSessionInfo{
            width: 24%;
            max-width: 100px;
            display: flex;
            flex-flow: column nowrap;
            justify-content : center;
        }
        .movieSessionInfo:not(:last-child) {
            margin-right: 20px;
        }
        
        .sessionTimeContainer{
            display: flex;
            justify-content: center;
        }
        .sessionTime{
            font-size: 1.8em;
            font-weight: bold;
            padding: 5px;
        }
        .sessionTime:not(:last-child){
            margin-right: 10px;
        }
    }
    .movieSessionBtn{
            margin-bottom: 10px;
            background: transparent;
            border: #FFF solid 2px;
            border-radius: 8px;
            color: white;
            transform: scale(1);
            transition : transform 0.5s ease-out;
        }
    .movieSessionBtn:hover{
        background-color: #6e6e6e;
        transform: scale(1.1);
    }
    .movieSessionBtn.selected{
        background-color: #444;
        border: 2px solid #2070EE;
        transform: scale(1.1);
    }
    
    .sessionTimeContainer{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    .sessionTime{
        padding:8px;
        font-weight:bold;
        font-size: 1.2em;
    }
    .eventSessionContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .movieSessionText{
        text-align: center;
        margin: auto;
        border: #FFF solid 2px;
        border-radius: 8px;
        color: white;
        width: 50%;
        padding: 10px;
        }
        
    }
}
#eventPageMain{
    display: grid;
    grid-template-rows: 0.9fr 1fr;
    
    #eventDescription{
        grid-row: 1/2;
        grid-column : 1/2;
        align-self: start;
        text-align: center;
        z-index: 8;

        h2{
            margin: 10px 0;
            font-size: 1.8em;
            max-width: 100%;
        }
        p{
            margin: 0;
            max-width: 100%;
        }
    }
    
    #movieDescription {
        grid-row: 1/2;
        grid-column: 1/2;
        
        
        
    }
    #trailerButton{
            margin-top: 100px;
            transform: scale(0.8);
        }
    
}


@media screen AND (min-width: 1199px) {
    .movieCover{
        max-height: 100%;
    }
    #eventPageMain, #movieDescription{
        flex-direction: row-reverse;
        
        #trailerButton{
                align-self: flex-start;
                margin-top: 10%;
                transform: scale(1);
            }
        
        #movie_info {
            display: flex;
            flex-direction: column;
            padding: 15px 0;
            padding-top: 10%;
            width: 70%;
            
            
            #movieDetail{
                padding: 0;
            }
            
            
            .moviePoster{
                display: block;
                width: 30%;
                height: auto;
            }

            ul{
                margin-left: 10px;
            }
            li {
                margin-bottom: 1.2em;
            }
            .movieFeatureHeader{
                font-size: 1em
            }
            .movieFeature{
                font-size: 1em;
            }
            #synopsis{
                width: 100%;
            }
            .showSynopsisButton {
                width: 150px;
            }
        }
        
    }
    
}