.navBarContainer {
    z-index: 99;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #353fab;
    display: flex;
    justify-content: space-around;
    align-items: center;
    li {
        display: flex;
        align-items: center;
    }
    a,
    .NavBarDropDownButton {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 0.8em;
        background-color: transparent;
        border: none;
        padding: 0;
    }
    .navBar {
        display: flex;
        justify-content: space-around;
        margin: 4px;
    }
    li{
        width: 10%;
    }
    .navText{
        display: none;
    }
    .logoPicto{
        width: 100%;
    }
    .navPicto{
        width: 100%;
    }
    .navDropdown {
        #userLogInPicto {
            width: 100%;
            height: auto;
        }
        display: flex;
        flex-direction: column;
        position: relative;
        flex: 1;
        align-items: center;
        .NavBarLoginButton {
            background-color: transparent;
            border: none;
            padding: 0;
            margin: 0;
            cursor: pointer;
            display: block;
            line-height: 0;
        }
        .navDropdownLinks {
            position: absolute;
            bottom: 1em;
            right: 10px;
            background-color: #eee;
            border-radius: 6px;
            width: 200px;
            padding: 20px;
            a {
                color: #101010;
            }
        }
    }
    .userConnectionForm {
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #fff; 
          border: 1px solid #ccc;
          padding: 20px; 
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
          z-index: 1000; 
}
}

@media screen AND (min-width: 1199px) {
    .navBarContainer {
        position: static;
        padding: 1px 0;
        a,
        .NavBarDropDownButton {
            font-size: 1.2em;
           
        }
        .navText{
            display: block;
        }
        .navPicto{
            display: none;
        }
        .navDropdown {
            #userLogInPicto {
                width: 30px;
                height: auto;
            }
            .navDropdownLinks {
                bottom: auto;
                top: 1em;
            }
        }
    }
}
