.navBarContainer {
    z-index: 99;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #353fab;
    display: flex;
    justify-content: space-around;
    align-items: center;
    li {
        display: flex;
        align-items: center;
    }
    a,
    .NavBarDropDownButton {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 0.8em;
        background-color: transparent;
        border: none;
        padding: 0;
    }
    .navBar {
        display: flex;
        justify-content: space-around;
        margin: 4px;
        width : 100%;
        max-height: 50px;
        
        > li{
            width: 10%;
        }
    }
    
    .navText{
        display: none;
    }
    .logoPicto{
        max-height: 50px;
        width: 100%;
    }
    .navPicto{
        width: 100%;
        max-height : 40px;
    }
    .navDropdown {
        #userLogInPicto {
            width: 100%;
            height: auto;
            max-height: 40px;
        }
        display: flex;
        flex-direction: column;
        position: relative;
        flex: 1;
        align-items: center;
        
        .NavBarLoginButton {
            background-color: transparent;
            border: none;
            padding: 0;
            margin: 0;
            cursor: pointer;
            display: block;
            line-height: 0;
        }
        .navDropdownLinks {
            position: absolute;
            bottom: 100%;
            background-color: #eee;
            border-radius: 6px;
            box-shadow: 5px 5px 8px #000;
            width: 200px;
            padding: 20px;
            a {
                color: #101010;
            }
        }
        .loginDropdown{
            right: 0;
        }
    }
}

@media screen AND (min-width: 1199px) {
    .navBarContainer {
        grid-row: 1/2;
        position: static;
        padding: 1px 0;
        a,
        .NavBarDropDownButton {
            font-size: 1.2em;
           
        }
        .navText{
            display: block;
        }
        .navPicto{
            display: none;
        }
        .navDropdown {
            #userLogInPicto {
                width: 30px;
                height: auto;
            }
            .navDropdownLinks {
                bottom: auto;
                top: 110%;
            }
        }
    }
}
