.roomcontainer{
    div{ 
        span {
            display:flex; 
            // flex-direction: column;
        }
        div p{
            display: flex;
            flex-wrap: nowrap;
            margin: 0;
            span {
                display: flex;
            }
        }
    }
}

.roomMapSeat{
    width: 14px;
    height: 14px;
}
.roomMap_btn{
    background-color: #ffffff00;
    border: none;
    margin: 0;
    padding: 0;
    &:hover {
        cursor: pointer;
    }
}