.movieRow {
  max-width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;

  .movableContainer {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.3s;
  }

  .movieSliderBtnContainer {
    position: absolute;
    top: 50%;
    left:0;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 0 10px;
    height: 0;
  }

  .movieSliderBtn {
    background-color : #223C72CC;
    color: #FFF;
    border: none;
    border-radius: 100%;
    padding: 0 0.2em;
    font-size: 2em;
    font-family: Allura;
    font-weight: bold;
    z-index: 10;
    animation: printButton 1s ease;
  }
  .movieSliderBtn:hover{
    background-color: #304AC0CC;
    
  }
  .hiddenBtn{
    opacity: 0;
    animation: removeBtn 1s ease;
  }
  

  .sliderButtonLeft {
    justify-self: start;
    align-self: center;
    grid-column: 1;
  }

  .sliderButtonRight {
    justify-self: end;
    align-self: center;
    grid-column: 2
  }

}

@keyframes printButton {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes removeBtn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@media screen AND (min-width: 1199px) {
  .movieRow {
    .movieSliderBtnContainer{
      width: 95%;
    }
  }
}