@import url("https://fonts.googleapis.com/css2?family=Allura&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.movieCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  padding: 10px;
}

.moviePoster {
  width: 100%;
  height: 415px;
  object-fit: cover;
}

.movieCardHeader {
  text-align: center;
  color: #FFF;
  text-decoration: none;
}

.movieCoverContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  min-height: 40%;
  width: 100%;
  max-height: 70%;
  margin: 0;
  display: flex;
  mask-image: linear-gradient(to top, transparent 0, black 30%);
}

.movieCover {
  object-position: top;
}

main .reservationModal {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8117647059);
  width: 80%;
  max-width: 90vw;
  padding: 20px;
  border-radius: 5px;
}

.closeTrailerBtn {
  align-self: flex-end;
  font-family: Allura;
  font-size: 4em;
  line-height: 0.8em;
  margin-right: 10px;
  border: none;
  background-color: transparent;
  color: #fff;
  padding: 0 5px;
}

#trailerLecter {
  max-width: 780px;
}

#movieDescription {
  grid-row: 1/2;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  background: rgba(10, 10, 10, 0.6235294118);
  width: 100%;
}
#movieDescription #movie_info {
  display: flex;
  flex-direction: column;
  padding-top: 7%;
  width: 90%;
  margin-left: 15px;
}
#movieDescription #moviePage_title {
  margin-top: 0;
}
#movieDescription #trailerButton {
  background: #000000;
  border: white solid 2px;
  border-radius: 8px;
  opacity: 0.5;
  margin-top: 5%;
  padding: 30px;
  align-self: center;
  transition: transform 1s ease-out, opacity 2s ease-in;
}
#movieDescription #trailerButton:hover {
  transform: scale(1.2);
  opacity: 1;
}
#movieDescription #movieDetail {
  display: flex;
  padding: 0 20px;
}
#movieDescription #movieDetail .moviePoster {
  display: none;
}
#movieDescription #movieDetail li {
  line-height: 1.4em;
}
#movieDescription #synopsis {
  width: 100%;
  margin: 5px 0;
  line-height: 1em;
  margin-top: 2em;
}
#movieDescription .showSynopsisButton {
  background-color: transparent;
  border: #FFF solid 1px;
  outline: none;
  color: #FFF;
  border-radius: 8px;
  padding: 0.5em 1em;
}
#movieDescription .showSynopsisButton:hover {
  border: #99AAFF solid 3px;
}
#movieDescription .movieFeatureHeader {
  font-size: 0.8em;
  font-weight: bold;
}
#movieDescription .movieMainFeature {
  font-weight: bold;
  margin-bottom: 10px;
  color: #bbddff;
}
#movieDescription .movieMainFeatureDivider {
  margin: 0 0.5em;
  font-size: 2em;
}
#movieDescription .movieFeature {
  font-size: 0.8em;
  font-style: italic;
}
#movieDescription .sessionTitle {
  text-align: center;
}
#movieDescription .movieSessionContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2em;
}
#movieDescription .movieSessionContainer .movieSessionInfo {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
#movieDescription .movieSessionContainer .movieSessionInfo:not(:last-child) {
  margin-right: 20px;
}
#movieDescription .movieSessionContainer .sessionTimeContainer {
  display: flex;
  justify-content: center;
}
#movieDescription .movieSessionContainer .sessionTime {
  font-size: 1.8em;
  font-weight: bold;
  padding: 5px;
}
#movieDescription .movieSessionContainer .sessionTime:not(:last-child) {
  margin-right: 10px;
}
#movieDescription .movieSessionBtn {
  margin-bottom: 10px;
  background: transparent;
  border: #FFF solid 2px;
  border-radius: 8px;
  color: white;
  transform: scale(1);
  transition: transform 0.5s ease-out;
}
#movieDescription .movieSessionBtn:hover {
  background-color: #6e6e6e;
  transform: scale(1.1);
}
#movieDescription .movieSessionBtn.selected {
  background-color: #444;
  border: 2px solid #2070EE;
  transform: scale(1.1);
}
#movieDescription .sessionTimeContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}
#movieDescription .sessionTime {
  padding: 8px;
  font-weight: bold;
  font-size: 1.2em;
}
#movieDescription .eventSessionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#movieDescription .eventSessionContainer .movieSessionText {
  text-align: center;
  margin: auto;
  border: #FFF solid 2px;
  border-radius: 8px;
  color: white;
  width: 50%;
  padding: 10px;
}

#eventPageMain #eventContent {
  display: grid;
  grid-template: 1fr/1fr;
  justify-items: center;
}
#eventPageMain #eventDescription {
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: start;
  text-align: center;
  z-index: 8;
}
#eventPageMain #eventDescription h2 {
  margin: 10px 0;
  font-size: 1.8em;
  max-width: 100%;
}
#eventPageMain #eventDescription p {
  margin: 0;
  max-width: 100%;
}
#eventPageMain #movieDescription {
  grid-row: 1/2;
  grid-column: 1/2;
  display: grid;
  grid-template: 1em 0.3fr 1fr/5px 1fr 5px;
  justify-items: center;
}
#eventPageMain .movieCoverContainer {
  grid-row: 1/4;
  grid-column: 1/5;
}
#eventPageMain #trailerButton {
  grid-row: 2/3;
  grid-column: 2/4;
}
#eventPageMain #movie_info {
  grid-row: 3/4;
  grid-column: 2/3;
}
#eventPageMain #trailerButton {
  margin-top: 100px;
  transform: scale(0.8);
}

.bigFont #eventPageMain #movieDescription, .dyslexia #eventPageMain #movieDescription {
  grid-template: 3em 0.3fr 1fr/5px 1fr 5px;
}
.bigFont #eventPageMain #trailerButton, .dyslexia #eventPageMain #trailerButton {
  transform: scale(0.6);
  margin-top: 60px;
}

.dyslexia.bigFont #eventPageMain #movieDescription {
  grid-template: 9.5em 0.3fr 1fr/5px 1fr 5px;
}
.dyslexia.bigFont #eventPageMain #movie_info {
  align-self: start;
}

@media screen and (min-width: 1199px) {
  .movieCoverContainer {
    justify-content: flex-end;
    height: 90%;
    max-height: none;
  }
  .movieCover {
    mask-image: linear-gradient(to right, transparent 0, black 30%);
    width: 60%;
  }
  #eventPageMain #movieDescription {
    grid-template: 1fr 12fr/15px 6fr 1fr 15px;
  }
  #eventPageMain .movieCoverContainer {
    grid-row: 1/3;
    grid-column: 1/5;
  }
  #eventPageMain #trailerButton {
    grid-row: 2/3;
    grid-column: 3/4;
  }
  #eventPageMain #movie_info {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  #movieDescription {
    flex-direction: row-reverse;
  }
  #movieDescription #trailerButton {
    align-self: flex-start;
    justify-self: start;
    transform: scale(1);
  }
  #movieDescription #movie_info {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    padding-top: 7%;
    width: 70%;
  }
  #movieDescription #movie_info #movieDetail {
    padding: 0;
  }
  #movieDescription #movie_info .moviePoster {
    display: block;
    width: 40%;
    height: auto;
  }
  #movieDescription #movie_info #moviePage_title {
    margin-left: 10px;
  }
  #movieDescription #movie_info ul {
    margin-left: 20px;
  }
  #movieDescription #movie_info li {
    margin-bottom: 1.2em;
    line-height: 1.2em;
  }
  #movieDescription #movie_info .movieFeatureHeader {
    font-size: 1em;
  }
  #movieDescription #movie_info .movieFeature {
    font-size: 1em;
  }
  #movieDescription #movie_info #synopsis {
    width: 100%;
  }
  .bigFont #eventPageMain #movieDescription, .dyslexia #eventPageMain #movieDescription {
    grid-template: 1fr 12fr/15px 4fr 1fr 15px;
  }
  .bigFont #eventPageMain #trailerButton, .dyslexia #eventPageMain #trailerButton {
    transform: scale(1);
  }
  .bigFont #eventPageMain #movie_info, .dyslexia #eventPageMain #movie_info {
    width: 100%;
  }
  .dyslexia.bigFont #eventPageMain #movieDescription {
    grid-template: 1fr 12fr/15px 4fr 1fr 15px;
  }
  .dyslexia.bigFont #eventPageMain #trailerButton {
    justify-self: center;
  }
}
/******************************************************************************************************************
                                                    NavBar
******************************************************************************************************************/
.navBarContainer {
  z-index: 99;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #353fab;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-height: 4em;
  /*************************************************    dropdown     **********************************************/
}
.navBarContainer .navBar {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 4px;
  width: 100%;
  max-height: 50px;
}
.navBarContainer .navBar > li {
  width: 10%;
}
.navBarContainer li {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
.navBarContainer a,
.navBarContainer .NavBarDropDownButton {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
  background-color: transparent;
  border: none;
  padding: 0;
}
.navBarContainer .navText {
  display: none;
}
.navBarContainer .logoPicto {
  max-height: 50px;
  width: 100%;
}
.navBarContainer .navPicto {
  width: 100%;
  max-height: 40px;
}
.navBarContainer .navDropdown {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  align-items: center;
  /*************************************************    Login     **********************************************/
}
.navBarContainer .navDropdown .navDropdownLinks {
  position: absolute;
  bottom: 100%;
  background-color: #eee;
  border-radius: 6px;
  box-shadow: 5px 5px 8px #000;
  padding: 20px;
}
.navBarContainer .navDropdown .navDropdownLinks a {
  color: #101010;
}
.navBarContainer .navDropdown .loginDropdown {
  right: 0;
}
.navBarContainer .navDropdown .NavBarLoginButton {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: block;
  line-height: 0;
}
.navBarContainer .navDropdown #userLogInPicto {
  width: 100%;
  height: auto;
  max-height: 40px;
}
.navBarContainer .navDropdown .loginComponent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  border: 2px solid #353fab;
  border-radius: 5px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.navBarContainer .navDropdown .loginComponent::-webkit-scrollbar {
  width: 0;
}
.navBarContainer .navDropdown .loginComponent .loginHeader {
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  margin: 0 0 15px 0;
}
.navBarContainer .navDropdown .loginComponent button, .navBarContainer .navDropdown .loginComponent input[type=submit] {
  background-color: transparent;
  border: 2px solid #FFF;
  color: #FFF;
  padding: 5px;
  margin-top: 10px;
  border-radius: 8px;
}
.navBarContainer .navDropdown .loginComponent button:hover, .navBarContainer .navDropdown .loginComponent input[type=submit]:hover {
  border: none;
  box-shadow: 0px 0px 8px #FFF;
}
.navBarContainer .navDropdown .loginComponent input[type=text], .navBarContainer .navDropdown .loginComponent input[type=password], .navBarContainer .navDropdown .loginComponent input[type=email] {
  background-color: rgba(255, 255, 255, 0.2509803922);
  border-radius: 8px;
  border: none;
  color: #FFF;
  padding: 2px 8px;
}
.navBarContainer .navDropdown .loginComponent input[type=text]:focus, .navBarContainer .navDropdown .loginComponent input[type=password]:focus, .navBarContainer .navDropdown .loginComponent input[type=email]:focus {
  outline: 2px solid #353fab;
}
.navBarContainer .navDropdown .loginComponent input[type=submit] {
  align-self: center;
}
.navBarContainer .navDropdown .loginComponent .closeLogin {
  flex: 1;
  order: -1;
  height: 1.8em;
  border: none;
  font-family: Allura;
  font-size: 1.2em;
  font-weight: bold;
  color: #DD6655;
}
.navBarContainer .navDropdown .loginComponent .loginForm {
  display: flex;
  flex-direction: column;
}
.navBarContainer .navDropdown .loginComponent label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.navBarContainer .navDropdown .loginComponent .inputContainer:not(:last-of-type) {
  margin-bottom: 15px;
}

@media screen and (min-width: 1199px) {
  .navBarContainer {
    grid-row: 1/2;
    position: static;
    padding: 1px 0;
  }
  .navBarContainer .navBar {
    align-items: center;
  }
  .navBarContainer .navBar li {
    margin: 0;
  }
  .navBarContainer a,
  .navBarContainer .NavBarDropDownButton {
    font-size: 1.2em;
  }
  .navBarContainer .navText {
    display: block;
  }
  .navBarContainer .logoPicto {
    width: auto;
    height: 3em;
    max-height: none;
  }
  .navBarContainer .navPicto {
    display: none;
  }
  .navBarContainer .navDropdown #userLogInPicto {
    width: auto;
    height: 3em;
    max-height: none;
  }
  .navBarContainer .navDropdown .navDropdownLinks {
    bottom: auto;
    top: 110%;
  }
  .navBarContainer .navDropdown .loginComponent {
    flex-direction: row;
  }
  .navBarContainer .navDropdown .loginComponent label {
    flex-direction: row;
  }
  .navBarContainer .navDropdown .loginComponent .closeLogin {
    order: 1;
  }
}
.roomcontainer {
  margin: 10px 0;
}
.roomcontainer div span {
  display: flex;
}
.roomcontainer div div p {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  height: 100%;
  margin: 0;
}
.roomcontainer div div p span {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.rowKey {
  min-width: 1.2em;
}

.corridor {
  width: 7%;
  min-width: 14px;
}

.roomMap_btn {
  width: 7%;
  min-width: 14px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  margin: 0;
  padding: 0;
}
.roomMap_btn:hover {
  cursor: pointer;
}

@media screen and (min-width: 1199px) {
  .roomMap_btn {
    width: 25px;
  }
  .corridor {
    width: 25px;
  }
}
.eventsSlider {
  display: grid;
  grid-template: 1fr/1fr;
}

.eventSlide {
  grid-area: 1/1/2/2;
  opacity: 0;
  overflow: hidden;
  max-width: 100%;
  padding-top: 56.25%;
  margin-bottom: 1rem;
  transition: opacity 1.5s ease-in-out;
}
.eventSlide #eventSliderCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.eventSlide figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.2rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 40%, rgba(0, 0, 0, 0.7) 100%);
  color: white;
}
.eventSlide figcaption #eventSliderTitle {
  margin: 0;
}
.eventSlide figcaption p {
  margin: 0;
}

.activeSlide {
  opacity: 1;
}

.sliderBtn {
  position: absolute;
  bottom: 0;
  right: 16px;
  z-index: 10;
}

.eventSliderBtn {
  background-color: #000;
  border-radius: 100%;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 12px;
  width: 12px;
  outline: none;
  border: none;
}

.eventSliderBtn.active {
  background-color: #fff;
}

@media screen and (min-width: 1199px) {
  .eventSliderWrapper {
    margin-bottom: 2rem;
    padding: 0;
    height: 500px;
    background: #000;
  }
  .eventSliderWrapper .eventSlide {
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
    margin: 0;
  }
  .eventSliderWrapper .sliderEventLink {
    justify-content: space-around;
    width: 100%;
  }
  .eventSliderWrapper .sliderEventLink #eventSliderCover {
    position: static;
    width: 70%;
    object-position: bottom;
    mask-image: linear-gradient(to right, transparent 0%, black 100%);
  }
  .eventSliderWrapper figcaption {
    position: static;
    background: transparent;
    max-height: 500px;
  }
}
.movieRow {
  max-width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
}
.movieRow .movableContainer {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.3s;
}
.movieRow .movieSliderBtnContainer {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 95%;
  margin: 0 10px;
  height: 0;
}
.movieRow .movieSliderBtn {
  background-color: rgba(34, 60, 114, 0.8);
  color: #FFF;
  border: none;
  border-radius: 100%;
  padding: 0 0.2em;
  font-size: 2em;
  font-family: Allura;
  font-weight: bold;
  z-index: 10;
  animation: printButton 1s ease;
}
.movieRow .movieSliderBtn:hover {
  background-color: rgba(48, 74, 192, 0.8);
}
.movieRow .hiddenBtn {
  opacity: 0;
  animation: removeBtn 1s ease;
}
.movieRow .sliderButtonLeft {
  justify-self: start;
  align-self: center;
  grid-column: 1;
}
.movieRow .sliderButtonRight {
  justify-self: end;
  align-self: center;
  grid-column: 2;
}

@keyframes printButton {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes removeBtn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
#mainFooter {
  grid-row: 3/4;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(53, 63, 171, 0.6117647059) 20%, #353fab 60%);
  padding-top: 1em;
  padding-bottom: 8em;
}
#mainFooter #socialsMedia ul {
  display: flex;
  gap: 15px;
}

@media screen and (min-width: 1199px) {
  #mainFooter {
    align-items: center;
    padding-bottom: 1em;
  }
  #mainFooter ul {
    margin: 0;
  }
}
/***********************************************************************************************************************************
                                                        BACKOFFICE
***********************************************************************************************************************************/
/*************************************************** mangement navbar *************************************************************/
#backOfficeNavBar {
  display: flex;
  justify-content: space-evenly;
  background-color: #111;
  border-bottom: #FFF 2px solid;
}
#backOfficeNavBar .backOfficeNavBtn {
  background-color: transparent;
  border: none;
  color: #FFF;
  margin: 10px;
  width: 30%;
  flex: 1;
}
#backOfficeNavBar .backOfficeNavBtn:not(:last-child) {
  border-right: 2px solid #FFF;
}

/*************************************************** main content *************************************************************/
#backOfficeContentWrapper {
  display: flex;
  flex-direction: column;
  grid-row: 1/3;
}

.backOfficeMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

/************************************************ data management selection **********************************************************/
.actionSelectionForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 20px 10px;
  text-align: center;
  margin-bottom: 40px;
  border-bottom: 2px solid #353fab;
}
.actionSelectionForm label {
  text-align: center;
}

/************************************************* data management forms ***************************************************************/
.backofficeForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #353fab;
  border-radius: 8px;
  padding: 10%;
  /********************************************* movie session management *****************************************/
}
.backofficeForm label, .backofficeForm .inputContainer, .backofficeForm .searchInput {
  margin-top: 20px;
  font-size: 1.3em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}
.backofficeForm input {
  margin-top: 8px;
  width: 100%;
}
.backofficeForm input[type=text], .backofficeForm input[type=number], .backofficeForm input[type=date] {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 8px;
  height: 1.8em;
}
.backofficeForm input:focus {
  outline: 2px solid #606AFF;
}
.backofficeForm .radioInputContainer {
  font-size: 1.3em;
  display: flex;
  justify-content: space-around;
}
.backofficeForm .radioInputContainer label {
  font-size: 1em;
}
.backofficeForm fieldset {
  border: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.backofficeForm .backofficeTextArea {
  resize: none;
  width: 100%;
  height: auto;
}
.backofficeForm .backofficeTextArea:focus {
  outline: 2px solid #606AFF;
  border-radius: 4px;
}
.backofficeForm .sessionFieldSet {
  border: 1px solid white;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 2px white;
}

/************************************************* backoffice buttons ***************************************************************/
.managementBtnContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  background-color: rgba(10, 10, 10, 0.6235294118);
  margin: 0;
}

.backofficeBtn {
  background: transparent;
  border: 2px solid #FFF;
  border-radius: 8px;
  color: #CCC;
  padding: 15px 25px;
  font-size: 0.9em;
  align-self: center;
}
.backofficeBtn:hover {
  font-weight: bold;
  color: #FFF;
  box-shadow: 0px 0px 10px #FFF;
}

.smallBtn {
  padding: 10px 5px;
  font-size: 0.8em;
}

.backofficeFormBtn {
  margin-top: 13px;
}

.addInputBtn {
  width: 1.5em;
  background-color: transparent;
  border: 2px solid #FFF;
  color: #CCC;
  border-radius: 20%;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 5px;
  font-weight: bold;
}
.addInputBtn:hover {
  box-shadow: 0px 0px 5px #FFF;
}

/************************************************* room management ***************************************************************/
.roomListItem {
  margin: 10px 0;
  padding: 10px;
  border: 2px solid #353fab;
  border-radius: 8px;
  font-size: 1.2em;
}
.roomListItem .managementBtnContainer {
  margin-top: 15px;
}

.roomForm {
  margin-top: 20px;
}
.roomForm label {
  display: flex;
  gap: 10px;
  font-weight: bold;
}
.roomForm input {
  border-radius: 8px;
}
.roomManagementBtnContainer {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
}

.roomManagementBtn {
  width: 40%;
  max-width: none;
}

.addSeatBtn {
  background-color: transparent;
  border: 2px solid #FFF;
  border-radius: 6px;
  color: #FFF;
  margin: 0 2px;
}

/************************************************* movie management ***************************************************************/
.allMovieWrapper {
  display: flex;
  gap: 15px;
  flex-flow: row wrap;
  justify-content: center;
}

/************************************************* user management ***************************************************************/
.userContainer {
  margin: 8px 0;
  padding: 12px 0;
  border-top: 2px solid #353fab;
  border-bottom: 2px solid #353fab;
}

.userNameText {
  text-align: center;
  margin-top: 0;
}

/******************************************************************************************************************/
/************************************************    DESKTOP    ***************************************************
*******************************************************************************************************************/
@media screen and (min-width: 1199px) {
  #backOfficeNavBar {
    flex-direction: column;
    justify-content: flex-start;
    width: 200px;
    height: 100%;
  }
  #backOfficeNavBar .backOfficeNavBtn {
    text-align: center;
    width: 100%;
    max-height: 4em;
    margin: 10px 0;
    border-bottom: 2px solid #FFF;
  }
  #backOfficeNavBar .backOfficeNavBtn:not(:last-child) {
    border-right: none;
  }
  #backOfficeContentWrapper {
    flex-direction: row;
    grid-row: 2/3;
  }
  .backOfficeMain .modal {
    width: 70%;
  }
  /************************************************ data management selection **********************************************************/
  .actionSelectionForm {
    width: 60%;
  }
  /***************************************************** data management ******************************************************************/
  .backofficeForm {
    padding: 3%;
    width: 90%;
  }
  .backofficeForm #mainFieldSet {
    width: 100%;
  }
  .backofficeForm input {
    width: 50%;
  }
  .searchForm {
    width: 60%;
  }
  /************************************************* room management ***************************************************************/
  .roomManagementBtnContainer {
    width: 50%;
  }
}
@font-face {
  font-family: "OpenDyslexic";
  src: url("./fonts/OpenDyslexic/OpenDyslexic-Regular.woff2") format("woff2"), url("./fonts/OpenDyslexic/OpenDyslexic-Regular.woff") format("woff"), url("./fonts/OpenDyslexic/OpenDyslexic-Regular.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenDyslexic";
  src: url("./fonts/OpenDyslexic/OpenDyslexic-Bold.woff2") format("woff2"), url("./fonts/OpenDyslexic/OpenDyslexic-Bold.woff") format("woff"), url("./fonts/OpenDyslexic/OpenDyslexic-Bold.eot") format("embedded-opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "OpenDyslexic";
  src: url("./fonts/OpenDyslexic/OpenDyslexic-Italic.woff2") format("woff2"), url("./fonts/OpenDyslexic/OpenDyslexic-Italic.woff") format("woff"), url("./fonts/OpenDyslexic/OpenDyslexic-Italic.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: italic;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #0a0a0a;
  color: #DDD;
}

.bigFont {
  font-size: 24px;
}

.dyslexia {
  font-family: "OpenDyslexic", cursive;
}
.dyslexia #eventPageMain #eventDescription h2 {
  margin: 0;
}

#root {
  display: grid;
  grid-template-rows: 5.2em 1fr 120px;
  min-height: 100vh;
}

main {
  grid-row: 1/3;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

video {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #fff;
}

a:visited {
  color: #fff;
}

button {
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
}

input, select, textarea {
  font-size: inherit;
  font-family: inherit;
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5411764706);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #000000;
  max-width: 80vw;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/**********************************************    accessibility   ********************************************/
.accessibilityOptions {
  border-radius: 8px;
}
.accessibilityOptions label {
  display: flex;
}
.accessibilityOptions label input {
  opacity: 0;
}
.accessibilityOptions .accessibilityBtn {
  border: 2px solid white;
  border-radius: 8px;
  padding: 5px 10px;
  margin: 10px 15px 10px 0;
}
.accessibilityOptions .accessibilityBtn.checked {
  border: 4px solid #353fab;
  background-color: #151515;
}
.accessibilityOptions .enableDyslexia {
  font-family: "OpenDyslexic", cursive;
}
.accessibilityOptions .enableBigFont {
  font-size: 24px;
}

@media screen and (min-width: 1199px) {
  #root {
    grid-template-rows: 4em 1fr 60px;
  }
  main {
    grid-row: 2/3;
  }
  .modalContainer {
    padding-top: 5em;
  }
}

/*# sourceMappingURL=global.css.map */
