@import url("https://fonts.googleapis.com/css2?family=Allura&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.movieCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  padding: 10px;
}

.moviePoster {
  width: 100%;
  height: 415px;
  object-fit: cover;
}

.movieCardHeader {
  text-align: center;
  color: #FFF;
  text-decoration: none;
}

.movieCover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  min-height: 40%;
  width: 100%;
  max-height: 70%;
  mask-image: linear-gradient(to top, transparent 0, black 30%);
  object-position: top;
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5411764706);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modalContainer .closeTrailerBtn {
  align-self: flex-end;
  font-family: Allura;
  font-size: 4em;
  line-height: 0.8em;
  margin-right: 10px;
  border: none;
  background-color: transparent;
  color: #fff;
  padding: 0 5px;
}
.modalContainer #trailerLecter {
  max-width: 780px;
}

.reservationModal {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8117647059);
  width: 80%;
  max-width: 90vw;
  padding: 20px;
  border-radius: 5px;
  z-index: 6;
  overflow: scroll;
}

#movieDescription {
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(10, 10, 10, 0.6235294118);
}
#movieDescription #movie_info {
  display: flex;
  flex-direction: column;
  padding-top: 7%;
  width: 90%;
  margin-left: 15px;
}
#movieDescription #moviePage_title {
  margin-top: 0;
}
#movieDescription #trailerButton {
  background: #000000;
  border: white solid 2px;
  border-radius: 8px;
  opacity: 0.5;
  margin-top: 5%;
  padding: 30px;
  align-self: center;
  transition: transform 1s ease-out, opacity 2s ease-in;
}
#movieDescription #trailerButton:hover {
  transform: scale(1.2);
  opacity: 1;
}
#movieDescription #movieDetail {
  display: flex;
  padding: 0 20px;
}
#movieDescription #movieDetail .moviePoster {
  display: none;
}
#movieDescription #movieDetail li {
  line-height: 1.4em;
}
#movieDescription #synopsis {
  width: 100%;
  margin: 5px 0;
  line-height: 1em;
  margin-top: 2em;
}
#movieDescription .showSynopsisButton {
  background-color: transparent;
  border: #FFF solid 1px;
  outline: none;
  color: #FFF;
  border-radius: 8px;
  padding: 0.5em 1em;
}
#movieDescription .showSynopsisButton:hover {
  border: #99AAFF solid 3px;
}
#movieDescription .movieFeatureHeader {
  font-size: 0.8em;
  font-weight: bold;
}
#movieDescription .movieMainFeature {
  font-weight: bold;
  margin-bottom: 10px;
  color: #bbddff;
}
#movieDescription .movieMainFeatureDivider {
  margin: 0 0.5em;
  font-size: 2em;
}
#movieDescription .movieFeature {
  font-size: 0.8em;
  font-style: italic;
}
#movieDescription .sessionTitle {
  text-align: center;
}
#movieDescription .movieSessionContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2em;
}
#movieDescription .movieSessionContainer .movieSessionInfo {
  width: 24%;
  max-width: 100px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
#movieDescription .movieSessionContainer .movieSessionInfo:not(:last-child) {
  margin-right: 20px;
}
#movieDescription .movieSessionContainer .movieSessionBtn {
  margin-bottom: 10px;
  background: transparent;
  border: #FFF solid 2px;
  border-radius: 8px;
  color: white;
  transform: scale(1);
  transition: transform 0.5s ease-out;
}
#movieDescription .movieSessionContainer .movieSessionBtn:hover {
  background-color: #6e6e6e;
  transform: scale(1.1);
}
#movieDescription .movieSessionContainer .movieSessionBtn.selected {
  background-color: #444;
  border: 2px solid #2070EE;
}
#movieDescription .movieSessionContainer .multi-line-Button {
  background: transparent;
  color: white;
  border: none;
  resize: none;
  text-align: center;
  width: 100%;
  cursor: pointer;
}
#movieDescription .movieSessionContainer .multi-line-Button:focus {
  outline: none;
}
#movieDescription .movieSessionContainer .sessionTimeContainer {
  display: flex;
  justify-content: center;
}
#movieDescription .movieSessionContainer .sessionTime {
  font-size: 1.8em;
  font-weight: bold;
  padding: 5px;
}
#movieDescription .movieSessionContainer .sessionTime:not(:last-child) {
  margin-right: 10px;
}
#movieDescription .eventSessionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#movieDescription .eventSessionContainer .movieSessionText {
  text-align: center;
  margin: auto;
  border: #FFF solid 2px;
  border-radius: 8px;
  color: white;
  width: 50%;
  padding: 10px;
}

#eventPageMain {
  display: grid;
  grid-template-rows: 0.9fr 1fr;
}
#eventPageMain #eventDescription {
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: start;
  text-align: center;
  z-index: 8;
}
#eventPageMain #eventDescription h2 {
  margin: 10px 0;
  font-size: 1.8em;
  max-width: 100%;
}
#eventPageMain #eventDescription p {
  margin: 0;
  max-width: 100%;
}
#eventPageMain #movieDescription {
  grid-row: 1/2;
  grid-column: 1/2;
}
#eventPageMain #trailerButton {
  margin-top: 100px;
  transform: scale(0.8);
}

@media screen and (min-width: 1199px) {
  .movieCover {
    max-height: 100%;
  }
  #eventPageMain, #movieDescription {
    flex-direction: row-reverse;
  }
  #eventPageMain #trailerButton, #movieDescription #trailerButton {
    align-self: flex-start;
    margin-top: 10%;
    transform: scale(1);
  }
  #eventPageMain #movie_info, #movieDescription #movie_info {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    padding-top: 10%;
    width: 70%;
  }
  #eventPageMain #movie_info #movieDetail, #movieDescription #movie_info #movieDetail {
    padding: 0;
  }
  #eventPageMain #movie_info .moviePoster, #movieDescription #movie_info .moviePoster {
    display: block;
    width: 30%;
    height: auto;
  }
  #eventPageMain #movie_info ul, #movieDescription #movie_info ul {
    margin-left: 10px;
  }
  #eventPageMain #movie_info li, #movieDescription #movie_info li {
    margin-bottom: 1.2em;
  }
  #eventPageMain #movie_info .movieFeatureHeader, #movieDescription #movie_info .movieFeatureHeader {
    font-size: 1em;
  }
  #eventPageMain #movie_info .movieFeature, #movieDescription #movie_info .movieFeature {
    font-size: 1em;
  }
  #eventPageMain #movie_info #synopsis, #movieDescription #movie_info #synopsis {
    width: 100%;
  }
  #eventPageMain #movie_info .showSynopsisButton, #movieDescription #movie_info .showSynopsisButton {
    width: 150px;
  }
}
.navBarContainer {
  z-index: 99;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #353fab;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navBarContainer li {
  display: flex;
  align-items: center;
}
.navBarContainer a,
.navBarContainer .NavBarDropDownButton {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8em;
  background-color: transparent;
  border: none;
  padding: 0;
}
.navBarContainer .navBar {
  display: flex;
  justify-content: space-around;
  margin: 4px;
  width: 100%;
  max-height: 50px;
}
.navBarContainer li {
  width: 10%;
}
.navBarContainer .navText {
  display: none;
}
.navBarContainer .logoPicto {
  max-height: 50px;
  width: 100%;
}
.navBarContainer .navPicto {
  width: 100%;
  max-height: 40px;
}
.navBarContainer .navDropdown {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  align-items: center;
}
.navBarContainer .navDropdown #userLogInPicto {
  width: 100%;
  height: auto;
  max-height: 40px;
}
.navBarContainer .navDropdown .NavBarLoginButton {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: block;
  line-height: 0;
}
.navBarContainer .navDropdown .navDropdownLinks {
  position: absolute;
  bottom: 100%;
  right: 10px;
  background-color: #eee;
  border-radius: 6px;
  box-shadow: 5px 5px 8px #000;
  width: 200px;
  padding: 20px;
}
.navBarContainer .navDropdown .navDropdownLinks a {
  color: #101010;
}
.navBarContainer .userConnectionForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

@media screen and (min-width: 1199px) {
  .navBarContainer {
    grid-row: 1/2;
    position: static;
    padding: 1px 0;
  }
  .navBarContainer a,
  .navBarContainer .NavBarDropDownButton {
    font-size: 1.2em;
  }
  .navBarContainer .navText {
    display: block;
  }
  .navBarContainer .navPicto {
    display: none;
  }
  .navBarContainer .navDropdown #userLogInPicto {
    width: 30px;
    height: auto;
  }
  .navBarContainer .navDropdown .navDropdownLinks {
    bottom: auto;
    top: 1em;
  }
}
.roomcontainer div span {
  display: flex;
}
.roomcontainer div div p {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
}
.roomcontainer div div p span {
  display: flex;
}

.roomMapSeat {
  width: 14px;
  height: 14px;
}

.roomMap_btn {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  margin: 0;
  padding: 0;
}
.roomMap_btn:hover {
  cursor: pointer;
}

.eventSliderWrapper {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  padding-top: 56.25%;
  margin-bottom: 1rem;
}
.eventSliderWrapper #eventSliderCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.eventSliderWrapper figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.2rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 40%, rgba(0, 0, 0, 0.7) 100%);
  color: white;
}
.eventSliderWrapper figcaption #eventSliderTitle {
  margin: 0;
}
.eventSliderWrapper figcaption p {
  margin: 0;
}

.sliderBtn {
  position: absolute;
  bottom: 0;
  right: 16px;
  z-index: 10;
}

.eventSliderBtn {
  background-color: #000;
  border-radius: 100%;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 12px;
  width: 12px;
  outline: none;
  border: none;
}

.eventSliderBtn.active {
  background-color: #fff;
}

.sliderTransition {
  opacity: 0;
  animation: printSlide 6.5s ease-in-out infinite;
}

@keyframes printSlide {
  0% {
    opacity: 0;
  }
  12% {
    opacity: 1;
  }
  88% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media screen and (min-width: 1199px) {
  .eventSliderWrapper {
    margin-bottom: 2rem;
    padding: 0;
    height: 500px;
    background: #000;
  }
  .eventSliderWrapper .eventSlide {
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
    margin: 0;
  }
  .eventSliderWrapper .sliderEventLink {
    justify-content: space-around;
    width: 100%;
  }
  .eventSliderWrapper .sliderEventLink #eventSliderCover {
    position: static;
    width: 70%;
    object-position: bottom;
    mask-image: linear-gradient(to right, transparent 0%, black 100%);
  }
  .eventSliderWrapper figcaption {
    position: static;
    background: transparent;
    max-height: 500px;
  }
}
.movieRow {
  max-width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
}
.movieRow .movableContainer {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.3s;
}
.movieRow .movieSliderBtnContainer {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 95%;
  margin: 0 10px;
  height: 0;
}
.movieRow .movieSliderBtn {
  background-color: rgba(34, 60, 114, 0.8);
  color: #FFF;
  border: none;
  border-radius: 100%;
  padding: 0 0.2em;
  font-size: 2em;
  font-family: Allura;
  font-weight: bold;
  z-index: 10;
  animation: printButton 1s ease;
}
.movieRow .movieSliderBtn:hover {
  background-color: rgba(48, 74, 192, 0.8);
}
.movieRow .hiddenBtn {
  opacity: 0;
  animation: removeBtn 1s ease;
}
.movieRow .sliderButtonLeft {
  justify-self: start;
  align-self: center;
  grid-column: 1;
}
.movieRow .sliderButtonRight {
  justify-self: end;
  align-self: center;
  grid-column: 2;
}

@keyframes printButton {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes removeBtn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
#mainFooter {
  grid-row: 3/4;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 54px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 20%, rgba(0, 0, 0, 0.7) 100%);
}

/***********************************************************************************************************************************
                                                        BACKOFFICE
***********************************************************************************************************************************/
/*************************************************** mangement navbar *************************************************************/
#backOfficeNavBar {
  grid-row: 1/2;
  display: flex;
  justify-content: space-evenly;
  background-color: #111;
  border-bottom: #FFF 2px solid;
}
#backOfficeNavBar .backOfficeNavBtn {
  background-color: transparent;
  border: none;
  color: #FFF;
  margin: 10px;
  width: 30%;
  flex: 1;
}
#backOfficeNavBar .backOfficeNavBtn:not(:last-child) {
  border-right: 2px solid #FFF;
}

/*************************************************** main content *************************************************************/
#backOfficeContentWrapper {
  display: flex;
  flex-direction: column;
}

.backOfficeMain {
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  flex: 1;
}

/************************************************ data management selection **********************************************************/
.actionSelectionForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 20px 10px;
  text-align: center;
  margin-bottom: 40px;
  border-bottom: 2px solid #353fab;
}
.actionSelectionForm label {
  text-align: center;
}

/************************************************* data management forms ***************************************************************/
.backofficeForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #353fab;
  border-radius: 8px;
  padding: 10%;
}
.backofficeForm label, .backofficeForm p.inputContainer {
  margin-top: 20px;
  font-size: 1.3em;
}
.backofficeForm input {
  margin-top: 8px;
  width: 100%;
}
.backofficeForm input[type=text], .backofficeForm input[type=number], .backofficeForm input[type=date] {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 8px;
  height: 1.8em;
}
.backofficeForm input:focus {
  outline: 2px solid #606AFF;
}
.backofficeForm .inputContainer, .backofficeForm .searchInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}
.backofficeForm .radioInputContainer {
  font-size: 1.3em;
  display: flex;
  justify-content: space-around;
}
.backofficeForm .radioInputContainer label {
  font-size: 1em;
}
.backofficeForm fieldset {
  border: none;
}
.backofficeForm .backofficeTextArea {
  resize: none;
  width: 100%;
  height: auto;
}
.backofficeForm .backofficeTextArea:focus {
  outline: 2px solid #606AFF;
  border-radius: 4px;
}

.backofficeFormBtn {
  background: transparent;
  border: 2px solid #FFF;
  border-radius: 8px;
  color: #CCC;
  padding: 15px 25px;
  margin-top: 13px;
}
.backofficeFormBtn:hover {
  font-weight: bold;
  color: #FFF;
  box-shadow: 0px 0px 10px #FFF;
}

.addInputBtn {
  width: 1.5em;
  background-color: transparent;
  border: 2px solid #FFF;
  color: #CCC;
  border-radius: 20%;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 5px;
  font-weight: bold;
}
.addInputBtn:hover {
  box-shadow: 0px 0px 5px #FFF;
}

@media screen and (min-width: 1199px) {
  #backOfficeNavBar {
    grid-row: 2/3;
    flex-direction: column;
    justify-content: flex-start;
    width: 200px;
    height: 100%;
  }
  #backOfficeNavBar .backOfficeNavBtn {
    text-align: center;
    width: 100%;
    max-height: 40px;
    margin: 10px 0;
    border-bottom: 2px solid #FFF;
  }
  #backOfficeNavBar .backOfficeNavBtn:not(:last-child) {
    border-right: none;
  }
  #backOfficeContentWrapper {
    flex-direction: row;
  }
  /***************************************************** data management ******************************************************************/
  .backofficeForm {
    padding: 3%;
    width: 90%;
  }
  .backofficeForm #mainFieldSet {
    width: 100%;
  }
  .backofficeForm input {
    width: 50%;
  }
}
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #0a0a0a;
  color: #DDD;
}

#root {
  display: grid;
  grid-template-rows: 0.1fr 1fr 120px;
  min-height: 100vh;
}

main {
  grid-row: 1/3;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

video {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #fff;
}

a:visited {
  color: #fff;
}

button {
  cursor: pointer;
}

@media screen and (min-width: 1199px) {
  main {
    grid-row: 2/3;
  }
}

/*# sourceMappingURL=global.css.map */
